<h1>Encore</h1>
<p>Find me in app/views/main/home.html.erb</p>
<%= form_tag do %>
  Form contents
  <%= radio_button_tag(:chart_type, "all") %>
  <%= label_tag(:chart_type_all, "Current values", :name => "chart_type") %>
  <%= radio_button_tag(:chart_type, "one") %>
  <%= label_tag(:chart_type_one, "Historical values", :name => "chart_type") %>
  <div id='hidden_options' hidden>Hidden text</div>
<% end %>
