<h1>Encore</h1>
<%= form_tag("create", remote: true) do %>
  <%= radio_button_tag(:chart_type, "all", :checked => true) %>
  <%= label_tag(:chart_type_all, "Current values", :name => "chart_type") %>
  <%= radio_button_tag(:chart_type, "one") %>
  <%= label_tag(:chart_type_one, "Historical values", :name => "chart_type") %>
  <div id='hidden_options' hidden>
  	<%= form_tag do %>
  		<%= label_tag(:resource_select_tag, "Resource") %>
  		<%= select_tag(:resource_select, options_for_select([['Solar Power', 44], ['Total Power', 43], ['Voltage', 42], ['Hall Light', 0], ['Bath Light', 1], ['Bedroom Outlets', 2], ['Main Room Lights', 3], ['Outdoor Outlets', 4], ['Daikin Hydrobox', 5], ['Main Room Outlets', 6], ['Disposal', 7], ['Office Outlets', 8], ['Air Handler', 9], ['JACE, Webbox, RIO', 10], ['Smoke Alarms', 11], ['ERV, Dining Light', 12], ['Solar Thermal Hot Water', 13], ['Refrigerator', 14], ['Washer', 15], ['Microwave', 16], ['Bath', 17], ['Kitchen Outlets West', 18], ['Kitchen Outlets East', 20], ['Veris', 21], ['Dishwasher', 22], ['Dryer', 24], ['Hot Water Tank', 25], ['Oven', 28], ['Outdoor Daikin', 29], ['Cooktop', 33]], 44)) %>
  		<%= label_tag(:time_select_tag, "Time Range") %> 
  		<%= select_tag(:time_select, options_for_select([['Past Hour', 1], ['Past Day', 2], ['Past Week', 3], ['Past Month', 4], ['Past Year', 5], ['Custom', 6]], 1)) %>
  		<div id='custom_time' hidden>
  			<%= label_tag(:date_start_tag, "Start Date") %>
  			<%= date_field(:date, :start, :value => Time.now.strftime("%Y-%m-%d"), :max => Time.now) %>
  			<%= label_tag(:time_start_tag, "Start Time") %>
  			<%= time_field(:time, :start, :value => Time.now.strftime("%H:%M:%S")) %>
  			<%= label_tag(:date_end_tag, "End Date") %>
			<%= date_field(:date, :end, :value => Time.now.strftime("%Y-%m-%d"), :max => Time.now, :min => "2014-12-05") %>
			<%= label_tag(:time_end_tag, "End Time") %>
  			<%= time_field(:time, :end, :value => Time.now.strftime("%H:%M:%S")) %>
  		</div>
  	<% end %>
  </div>
  <%= submit_tag("Update") %>
<% end %>
<div id='chart_div'>
	<canvas id='chart' height='600' width='900'></canvas>
</div>
<div id='tmp'></div>
